# Node
node_modules/

# Playwright
/test-results/
/playwright-report/
/playwright-html-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
allure-report/
allure-results/
html-report/

# ESLint
eslint-report/

# VS Code history
.history/

# Logs
*.log

# OS
.DS_Store
Thumbs.db