# Playwright
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure (IMPORTANT)
allure-report/
allure-results/
html-report/

# VS Code history (CRITICAL)
.history/

# Logs
*.log

# OS
.DS_Store
Thumbs.db